
@model insta3core3.Models.UserInfoViewModel

@{
    ViewData["Title"] = "TicketConfirmation";
}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/css/ticket.css" rel="stylesheet" id="bootstrap-css">

<section class="container">
    <h1>Booking Confirmation</h1>
    <div class="row">

    </div>
    <div class="row">
        <article class="card fl-left">
            <section class="date">
                <time>
                    <span>Paid</span>
                </time>
            </section>
            <section class="card-cont">
                <small>Ticket Info:</small>
                <h3>Passenger Name : Rahul</h3>
                <div class="even-date">
                    <i class="fa fa-calendar"></i>
                    <time>
                        <span>Travel Date : 22-10-2020</span>
                        <span>Pick Up Time : 16:00</span>
                        <span>Address : Bangalore,Karnataka</span>
                        <span>Driver Name : Amit</span>
                        <span>Ticket Status : Success</span>
                    </time>
                </div>
                <div class="even-info">
                    <i class="fa fa-map-marker"></i>
                    <p>

                    </p>
                </div>
                <a href="#" id="booked">booked</a>
            </section>
        </article>
        <article class="card fl-left" style="display:none">
        </article>
    </div>
    </div>
